.video_class{
    width : 80%;
    max-width: 1000px;
    position: relative;
}

#camera, #line_overlay, #line_overlay_youtube, #youtube{
    width : 80%;
    max-width: 1000px;
    left : 0;
    top: 0;
    position: absolute;
    transform: scaleX(-1);
}

#line_overlay{
    z-index: 5;
}